@use '../../sass/colors' as *;


form {

    @include flex(column, flex-start, flex-start, 2rem);

    .inputs__container{
        @include flex(column, flex-start, flex-start, 0rem);

        width: 100%;
        padding: 2rem;
        border-radius: $radius;

        input,
        select{
            width: 100%;
            border-radius: $radius;
            padding: .8rem;
            font-size: $fs-16;
            letter-spacing: .1rem;
        }

        input:focus,
        select:focus{
            outline: 1px solid $accent;
        }
    }

    .btn__container{
        @include flex(raw, center, space-between, 0rem); 
        width: 100%;
        position: relative;
        height: 4rem;

        .loader__container{
            position: absolute;
            top: 0;
            left: 34rem;
            z-index: 100;
        }
    }
}