$accent: #EFF48E;
// Maybe
// $accent: #c1cba9;
// $accent: #E3FCBF;
/* $accent: #d7e636; */
/* $bg-second: #333333; */



// Dark Theme
$bg-dark: #242424;
$bg-dark-second: #2f2f2f;
$font-color-dark-first: #fff;
$font-color-dark-second: #242424;
// $font-color-dark-tetriar: #636363;
$border-dark: #2f2f2f;


// Light Theme
$bg-light: #e7e7e7;
$bg-light-second: #cacaca;
$font-color-light-first: rgb(34, 34, 34);
$font-color-light-second:  #e7e7e7;
$border-light: #bebebe;

