@use './colors' as *;

.status__filter{
    
    width: 22rem;
    padding:  1rem;
    border-radius: $radius;

    @include flex(column, flex-start, flex-start, 1rem);

    h2{
        text-transform: uppercase;
        font-size: $fs-16;
        line-height: normal;
        margin-bottom: 1rem
    }

    .status-group{

        @include flex(raw, center, flex-start, 1rem); 

        label{
            margin-bottom: .4rem;
        }

        input[type='radio']{
            width: 1.6rem;
            height: 1.6rem;
            border-radius: .5rem;

            -webkit-appearance: none;
            appearance: none;
            margin: 0;

            font: inherit;
            color: currentColor;
            width: 1.6rem;
            height: 1.6rem;
            border: 0.15rem solid  #636363;
            border-radius: 0.3em;
            transform: translateY(-0.075em);

            display: grid;
            place-content: center;
        }

        input[type="radio"]::before {
            content: "";
            width: 1.4rem;
            height: 1.4rem;
            border: 0.15rem solid $accent;
            border-radius: 0.3em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $accent-50;
        }

        input[type="radio"]:checked::before {
        transform: scale(1);
        }

        .radioNone{

            input[type="radio"]::before{
                width: 0rem;
                height: 0rem;
            }
        }
    }
}