@use './colors' as *;

body {
    font-family: $font-main;
    font-size: 1.6rem;
    line-height: 1.5rem;
    font-weight: 500;
    // background-color: $bg-main;
    // color: $font-color-first;
  }
  
  /* .app {
    display: grid;
    grid-template-areas:
      "nav header header"
      "nav content content"
      "nav content content"
    ;
    height: 100VH;
    width: 100%;
    grid-template-columns: 25rem 1fr;
    grid-template-rows: 8rem 1fr;
  } */
  
  // .btn {
  //   background-color: transparent;
  //   border: 1px solid $accent;
  //   padding: .5rem 2.8rem;
  //   color: $accent;
  //   border-radius: $radius-btn;
  //   cursor: pointer;
  //   transition: all .1s ease-out;
  //   font-weight: 600;
  // }
  
  // .btn:hover {
  //   background-color: $accent;
  //   color: $font-color-second;
  // }
  
  // .btn-second {
  //   background-color: $accent;
  //   border: 1px solid $accent;
  //   padding: .5rem 2.8rem;
  //   color: $bg-main;
  //   margin-top: 3rem;
  //   border-radius: $radius;
  //   cursor: pointer;
  //   transition: all .1s ease-out;
  //   font-weight: 600;
  // }
  
  // .btn-second:hover {
  //   background-color: transparent;
  //   color: $font-color-first;
  // }
  
  
  
  // .box-border {
  //   width: 24rem;
  //   height: 16rem;
  //   border: $border;
  //   border-radius: $radius;
  //   padding: 1rem;
  //   margin-top: 3rem;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   justify-content: space-between;
  // }
  
  // h2 {
  //   font-family: $font-second;
  //   font-size: 1.8rem;
  // }
  
  // p {
  //   font-size: 1.8rem;
  //   color: $font-color-tetriar;
  // }
  
  // .mb-1 {
  //   margin-bottom: 1rem;
  // }


  .icon-m{
    font-size: 2.2rem;
    cursor: pointer;
    transition: $transition-1;
  }

  .icon-m:hover{
    color: $accent;
  }

  .icon-rotate-180{
    transform: rotate(180deg);
  }



  // Themess
.lightTheme{
  .text{
    color: $font-color-light-first;
  }

  .text-second{
    color: $bg-light-second;
  }

  .background{
    background-color: $bg-light;
  }

  .border-right {
    @include borderRight($border-light);
  }

  .border-left {
    @include borderLeft($border-light);
  }

  .border-bottom {
    @include borderBottom($border-light);
  }
}

.darkTheme{
  .text{
    color: $font-color-dark-first;
  }

  .text-second{
    color: $bg-dark-second;
  }

  .background{
    background-color: $bg-dark;
  }

  .border-right {
    @include borderRight($border-dark);
  }

  .border-left {
    @include borderLeft($border-dark);
  }

  .border-bottom {
    @include borderBottom($border-dark);
  }
}