@use './colors' as *;

body {
    font-family: $font-main;
    font-size: 1.6rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
    
  
  
  // .box-border {
  //   width: 24rem;
  //   height: 16rem;
  //   border: $border;
  //   border-radius: $radius;
  //   padding: 1rem;
  //   margin-top: 3rem;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   justify-content: space-between;
  // }

  // Start Utilities
  .ml-15{
    margin-left: 1.5rem;
  }

  .p-1{
    padding: 0 2rem;
  }
    // End Utilities
  
  h2 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
  }

  p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
  }

  li{
    list-style-type: none;
  }

  a{
    text-decoration: none;
  }

  .icon-m{
    // font-size: 2rem;
    cursor: pointer;
    transition: $transition-1;
    width: 2.6rem;
    height: 2.6rem;
    padding: .4rem;
    border-radius: .8rem;
  }

  .icon-m1{
    font-size: 2rem;
    cursor: pointer;
    transition: $transition-1;
  }

  .icon-m:hover{
    color: $accent;
  }

  .icon-rotate-180{
    transform: rotate(180deg);
  }



