@mixin borderRight($color){
    border-right: 1px solid  $color;
}

@mixin borderLeft($color){
    border-left: 1px solid  $color;
}

@mixin borderBottom($color){
    border-bottom: 1px solid  $color;
}


@mixin flex($direction, $align, $justify, $gap){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}