// Bigger than 1920px to 2k
@media screen and (min-width:1920px) and (max-width:2560px) {

}

// Smaller than 768px
@media (max-width:768px) {

    nav{
       width: 6rem !important;
    }
    
    header,
    main,
    .breadcrumb{
        min-width: calc(100% - 6rem);
    }

}


@media (max-width:560px) {


    .hiddenMenu__container{
        width: 100% !important;
    }
}
