

// Bigger than 1920px to 2k
@media screen and (min-width:1920px) and (max-width:2560px) {

}

// Smaller than 768px
@media screen and (max-width: 768px) {

    .loginPage__component{
        padding: 0 auto !important;
        // @include flex(raw, center, center, 0rem);
        @include flex(raw, center, center, 0rem);
    }

    .login__component{
        transform: translateX(0%) !important;
        
    }

    nav{
       width: 6rem !important;

       .board__header{
            @include flex(column, center, center, 1.5rem);

            padding: 1rem !important;
            height: 13rem !important;
        }
    }

    .mobile-none{
        display: none;
    }
    
    header,
    main,
    .breadcrumb{
        min-width: calc(100% - 6rem);
    }

    .user-data{
        opacity: 0;
        transition: $transition-2;
        transition-delay: 250ms;
        display: none;
    }

    .company-logo{
        display: none;
    }

    .category-links{
        display: none;
    }
}


@media screen and (max-width: 480px) {

    .card__component{
        right: 50% !important;
        transform: translateX(50%) !important;
        width: 32rem !important;

        form{
            img{
                left: 27rem !important;
            }

            .login-button{
                .loader__container {
                    left: 26rem !important;
                }
            }
        }
    }

    .mobile-icon{
        width: 3rem;
        height: 3rem;
        padding: .4rem;
    }

    nav{
        display: none;
     }
     
     header,
     main,
     .breadcrumb{
         min-width: 100% !important;
     }

    .hiddenMenu__container{
        width: 100% !important;
        position: absolute;
        top: 0;
        left:  0 !important;
        transform: translateX(-100%);
    }

    .modal__component{
        display: none;
    }

    // .mobile-none{
    //     display: none
    // }

    .mobile-menu{
        display: flex !important;
    }

    .user-mobile{
        display: flex !important;
    }

    .header-user{
        visibility: visible !important;
        opacity: 1 !important;
    }


    main{
        .main__all-container{

            @include flex(column, flex-start, flex-start, 2rem);

    
            .filters__container {

                &-header {
                    position: relative;
                }

                width: 100%;

                .filters-form{
                    height: 0;
                    opacity: 0;
                    transition: $transition-1;
                    
                    form{
                        height: 0%;
                        padding: 0;
                        width: 100% !important;
                    }            
                }
            }

            .mobileFilterIcon{
                position: absolute;
                right: 0;
                opacity: 1;
                cursor: pointer;
                transition: $transition-2;
            }
        }

        .main__all-container{
    
            &-content{
    
                .grid__container{
                    grid-template-columns: repeat(auto-fit, 100%) !important;

                    .box {
                        width: 100% !important;
                    }
                }
            }
        }

    }
    .btn__container {

        .loader__container{
            position: relative !important;
            top: 0% !important;
            left:  2rem !important;
        }
    }

    .filtersFormActive {
        @include flex(column, flex-start, flex-start, 2rem);
        min-height: 54rem !important;
        opacity: 1 !important;
        // transition: $transition-2;
    }

}
