// Bigger than 1920px to 2k
@media screen and (min-width:1920px) and (max-width:2560px) {

}

// Smaller than 768px
@media (max-width: 768px) {

    nav{
       width: 6rem !important;
    }
    
    header,
    main,
    .breadcrumb{
        min-width: calc(100% - 6rem);
    }

    .user-data{
        opacity: 0;
        transition: $transition-2;
        transition-delay: 250ms;
        display: none;
    }

    .company-logo{
        display: none;
    }

    .category-links{
        display: none;
    }
}


@media screen and (max-width: 480px) {

    nav{
        display: none;
     }
     
     header,
     main,
     .breadcrumb{
         min-width: 100% !important;
     }

    .hiddenMenu__container{
        width: 100% !important;
        position: absolute;
        top: 0;
        left:  0 !important;
        transform: translateX(-100%);
    }

    .modal__component{
        display: none;
    }

    .mobile-none{
        display: none
    }


    main{
        .main__all-container{

            @include flex(column, flex-start, flex-start, 2rem);

    
            .filters__container {

                &-header {
                    position: relative;
                }

                width: 100%;

                .filters-form{
                    height: 0;
                    opacity: 0;
                    transition: $transition-1;
                    
                    form{
                        height: 0%;
                        padding: 0;
                        width: 100% !important;
                    }            
                }
            }

            .mobileFilterIcon{
                position: absolute;
                right: 0;
                opacity: 1;
                cursor: pointer;
                transition: $transition-2;
            }
        }

        .main__all-container{
    
            &-content{
    
                .grid__container{
                    grid-template-columns: repeat(auto-fit, 100%) !important;

                    .box {
                        width: 100% !important;
                    }
                }
            }
        }
    }

    .filtersFormActive {
        @include flex(column, flex-start, flex-start, 2rem);
        min-height: 41rem !important;
        opacity: 1 !important;
        // transition: $transition-2;
    }

}
