$font-main: 'Lato', sans-serif;
$font-second: 'Roboto', sans-serif;
$radius: 4px;
$radius-btn: 4px;
$transition-1: all .1s ease-out;
$transition-2: all .2s ease-out;



// dark theme - main theme
  $bg-main: #242424;
  $bg-second: #2f2f2f;
  /* $bg-second: #333333; */
  $font-color-first: #fff;
  $font-color-second: #242424;
  $font-color-tetriar: #636363;
  $accent: #c1cba9;
  $accent: #E3FCBF;
  /* $accent: #d7e636; */
  $accent: #EFF48E;


  $border: 1px solid #2f2f2f;



  // Light Theme