$font-main: 'Lato', sans-serif;
$font-second: 'Roboto', sans-serif;
$radius: 4px;
$radius-btn: 4px;
$transition-1: all .1s ease-out;
$transition-2: all .2s ease-out;
$transition-3: all .3s ease-out;


$fs-8: 8px;
$fs-16: 16px;
$fs-24: 24px;
$fs-32: 32px;
$fs-40: 40px;
$fs-48: 48px;