/* $accent: #d7e636; */
/* $bg-second: #333333; */
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5rem;
  font-weight: 500;
}

/* .app {
  display: grid;
  grid-template-areas:
    "nav header header"
    "nav content content"
    "nav content content"
  ;
  height: 100VH;
  width: 100%;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: 8rem 1fr;
} */
h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.8rem;
}

.icon-m {
  cursor: pointer;
  transition: all 0.1s ease-out;
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.4rem;
  border-radius: 0.8rem;
}

.icon-m1 {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.icon-m:hover {
  color: #EFF48E;
}

.icon-rotate-180 {
  transform: rotate(180deg);
}

.lightTheme .text {
  color: rgb(34, 34, 34);
}
.lightTheme .text-second {
  color: #cacaca;
}
.lightTheme .background {
  background-color: #e7e7e7;
}
.lightTheme .background-second {
  background-color: #cacaca;
}
.lightTheme .border-right {
  border-right: 1px solid #bebebe;
}
.lightTheme .border-left {
  border-left: 1px solid #bebebe;
}
.lightTheme .border-bottom {
  border-bottom: 1px solid #bebebe;
}

.darkTheme .text {
  color: #fff;
}
.darkTheme .text-second {
  color: #2f2f2f;
}
.darkTheme .background {
  background-color: #242424;
}
.darkTheme .background-second {
  background-color: #2f2f2f;
}
.darkTheme .border-right {
  border-right: 1px solid #2f2f2f;
}
.darkTheme .border-left {
  border-left: 1px solid #2f2f2f;
}
.darkTheme .border-bottom {
  border-bottom: 1px solid #2f2f2f;
}

@media (max-width: 768px) {
  nav {
    width: 6rem !important;
  }
  header,
main {
    min-width: calc(100% - 6rem);
  }
}
nav {
  width: 25rem;
  height: 100vh;
  position: absolute;
  bottom: 0rem;
  left: 0;
  z-index: 5;
  transition: all 0.2s ease-out;
}
nav .nav__header {
  padding: 1rem;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}
nav .nav__middle {
  padding: 1rem;
}

.toggleSidebar {
  width: 6rem !important;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 25rem);
  position: fixed;
  top: 0;
  right: 0;
  height: 5rem;
  padding: 0 1rem;
  transition: all 0.2s ease-out;
}
header .header__right {
  display: flex;
  gap: 1rem;
}

.toggleHeader {
  width: calc(100% - 6rem);
}

/* $accent: #d7e636; */
/* $bg-second: #333333; */
.header__menu {
  min-width: 12rem;
  min-height: 6rem;
  position: absolute;
  top: 6rem;
  right: 1rem;
  z-index: 9;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  transform-origin: top;
  transform: rotateX(-100deg) translateY(-50%);
  opacity: 0;
  display: flex;
  flex-direction: raw;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}
.header__menu-single {
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  transition: all 0.1s ease-out;
}
.header__menu-single:hover {
  background-color: #EFF48E;
  color: #242424;
  border-radius: 4px;
}
.header__menu h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

.toggleHeaderMenu {
  transform: rotateX(0deg) translateY(0);
  z-index: 11;
  opacity: 1;
}

main {
  padding: 1rem;
  width: calc(100% - 25rem);
  height: calc(100% - 5rem);
  position: absolute;
  top: 5rem;
  right: 0;
  z-index: 10;
  transition: all 0.2s ease-out;
}

.toggleMainContent {
  width: calc(100% - 6rem);
}/*# sourceMappingURL=main.css.map */