/* $accent: #d7e636; */
/* $bg-second: #333333; */
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.ml-15 {
  margin-left: 1.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.p-1 {
  padding: 0 2rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.icon-m {
  cursor: pointer;
  transition: all 0.1s ease-out;
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.4rem;
  border-radius: 0.8rem;
}

.icon-m1 {
  font-size: 2.5rem;
}

.icon-m:hover {
  color: hsl(340deg, 100%, 75%);
}

.icon-m2 {
  font-size: 2rem;
}

.icon-letter {
  cursor: pointer;
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.4rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: center;
  gap: 0;
  color: hsl(340deg, 100%, 75%);
}

.icon-rotate-180 {
  transform: rotate(180deg);
}

/* $accent: #d7e636; */
/* $bg-second: #333333; */
.darkTheme .text {
  color: #fff;
}
.darkTheme .text-hover:hover {
  color: #2f2f2f;
}
.darkTheme .text-second {
  color: #636363;
}
.darkTheme .text-third {
  color: #636363;
}
.darkTheme .background {
  background-color: #242424;
}
.darkTheme .background-second {
  background-color: #2f2f2f;
}
.darkTheme .border-right {
  border-right: 1px solid #2f2f2f;
}
.darkTheme .border-left {
  border-left: 1px solid #2f2f2f;
}
.darkTheme .border-bottom {
  border-bottom: 1px solid #2f2f2f;
}
.darkTheme .border-all {
  border: 1px solid #2f2f2f;
}
.darkTheme .bg-success {
  background-color: hsla(154deg, 74%, 65%, 0.1);
}
.darkTheme .bg-danger {
  background-color: #63e8af;
}
.darkTheme .bg-info {
  background-color: rgba(150, 99, 232, 0.1);
}

.lightTheme .text {
  color: #2f2f2f;
}
.lightTheme .text-hover:hover {
  color: #fff;
}
.lightTheme .text-second {
  color: #e7e7e7;
}
.lightTheme .text-third {
  color: #636363;
}
.lightTheme .background {
  background-color: #e7e7e7;
}
.lightTheme .background-second {
  background-color: #cacaca;
}
.lightTheme .border-right {
  border-right: 1px solid #bebebe;
}
.lightTheme .border-left {
  border-left: 1px solid #bebebe;
}
.lightTheme .border-bottom {
  border-bottom: 1px solid #bebebe;
}
.lightTheme .border-all {
  border: 1px solid #bebebe;
}
.lightTheme .bg-success {
  background-color: hsla(154deg, 74%, 65%, 0.1);
}
.lightTheme .bg-danger {
  background-color: #63e8af;
}
.lightTheme .bg-info {
  background-color: rgba(150, 99, 232, 0.1);
}

/* $accent: #d7e636; */
/* $bg-second: #333333; */
.btn-container {
  width: 100%;
  display: flex;
  flex-direction: raw;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
}

.btn {
  background-color: transparent;
  border: 1px solid hsl(340deg, 100%, 75%);
  padding: 0.8rem 1.8rem;
  color: hsl(340deg, 100%, 75%);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s ease-out;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.btn:hover {
  background-color: hsl(340deg, 100%, 75%);
  color: #2f2f2f;
}

.btn-s {
  background-color: transparent;
  border: 1px solid hsl(340deg, 100%, 75%);
  padding: 0.5rem 1.5rem;
  color: hsl(340deg, 100%, 75%);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s ease-out;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.btn-s:hover {
  background-color: hsl(340deg, 100%, 75%);
  color: #2f2f2f;
}

@media (max-width: 768px) {
  nav {
    width: 6rem !important;
  }
  header,
  main,
  .breadcrumb {
    min-width: calc(100% - 6rem);
  }
  .user-data {
    opacity: 0;
    transition: all 0.2s ease-out;
    transition-delay: 250ms;
    display: none;
  }
  .company-logo {
    display: none;
  }
  .category-links {
    display: none;
  }
}
@media (max-width: 560px) {
  .hiddenMenu__container {
    width: 100% !important;
  }
}
main {
  padding: 2rem;
  width: calc(100% - 25rem);
  height: calc(100% - 5rem - 7rem);
  position: absolute;
  bottom: 0rem;
  right: 0;
  z-index: 10;
  transition: all 0.2s ease-out;
  overflow-y: scroll;
}
main .main__all-container {
  display: flex;
  flex-direction: raw;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
main .main__all-container-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
main .main__all-container-content .grid__container {
  width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, 26rem);
  min-height: 15rem;
}

.toggleMainContent {
  width: calc(100% - 6rem);
}

/* $accent: #d7e636; */
/* $bg-second: #333333; */
nav {
  width: 25rem;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 0;
  z-index: 5;
  transition: all 0.2s ease-out;
}
nav .nav__header {
  padding: 1.5rem;
  height: 5rem;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
nav .nav__header img {
  height: 3rem;
}
nav .nav__header-user {
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
nav .nav__header-user img {
  border-radius: 1rem;
}
nav .nav__header-user .user-data h3 {
  font-size: 1.4rem;
}
nav .nav__header-user .user-data p {
  font-size: 1rem;
  font-style: italic;
}
nav .nav__middle {
  padding-top: 1rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
nav .nav__middle ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
nav .nav__middle ul .nav__middle-category {
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: flex-start;
  gap: 0rem;
  width: 90%;
  height: 3.4rem;
  border-radius: 0 4px 4px 0;
  padding-left: 1.7rem;
  text-transform: capitalize;
}
nav .nav__middle ul .nav__middle-category .category-links {
  font-size: 16px;
  width: 100%;
  transition: all 0.1s ease-out;
  border-radius: 0 4px 4px 0;
  transform: translateX(1.5rem);
}
nav .nav__middle ul .nav__middle-category:hover {
  background-color: hsl(340deg, 100%, 75%);
}

.activeNavCategory {
  background-color: hsl(340deg, 100%, 75%);
}

.toggleSidebar {
  width: 6rem !important;
}
.toggleSidebar .user-data {
  opacity: 0;
  transition: all 0.2s ease-out;
  transition-delay: 250ms;
  display: none;
}
.toggleSidebar .company-logo {
  display: none;
}
.toggleSidebar .category-links {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 25rem);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 5rem;
  padding: 0 1rem;
  transition: all 0.2s ease-out;
}
header .header__right {
  display: flex;
  gap: 1rem;
}

.toggleHeader {
  width: calc(100% - 6rem);
}

/* $accent: #d7e636; */
/* $bg-second: #333333; */
.header__menu {
  min-width: 14rem;
  position: absolute;
  top: 6rem;
  z-index: 9;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  transform-origin: top;
  transform: rotateX(-100deg) translateY(-50%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}
.header__menu-single {
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-out;
  border-radius: 4px;
}
.header__menu-single:hover {
  background-color: hsl(340deg, 100%, 75%);
}
.header__menu h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.right-1 {
  right: 1rem;
}

.right-8 {
  right: 8rem;
}

.toggleHeaderMenu {
  transform: rotateX(0deg) translateY(0);
  z-index: 11;
  opacity: 1;
}

.error__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 30rem;
  height: 14rem;
  border-radius: 4px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  text-align: center;
}

.box {
  width: 26rem;
  min-height: 6rem;
  border-radius: 4px;
  padding: 2.5rem 1.5rem;
  display: flex;
  transition: all 0.1s ease-out;
  position: relative;
  display: flex;
  flex-direction: raw;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
}
.box-description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.box-description p {
  text-transform: uppercase;
  font-size: 16px;
}
.box-description h2 {
  font-family: "Arvo", serif;
  text-transform: lowercase;
}
.box-icons {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.box:hover {
  transform: translateY(-0.2rem);
}

/* $accent: #d7e636; */
/* $bg-second: #333333; */
.breadcrumb {
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: flex-start;
  gap: 0rem;
  width: calc(100% - 25rem);
  position: fixed;
  top: 5rem;
  right: 0;
  z-index: 10;
  height: 7rem;
  padding: 0 1rem;
  transition: all 0.2s ease-out;
}
.breadcrumb a {
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: center;
  gap: 0rem;
}

.toggleBreadcrumb {
  width: calc(100% - 6rem);
}

.breadcrumbActive {
  color: hsl(340deg, 100%, 75%);
}

/* $accent: #d7e636; */
/* $bg-second: #333333; */
.loader__container {
  position: absolute;
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: center;
  gap: 0;
  top: 40%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.loader__container P {
  position: absolute;
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 1.8rem;
}
.loader__container P span {
  color: hsl(340deg, 100%, 75%);
}
.loader__container .loader {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  border: 0.1rem solid;
  border-color: hsl(340deg, 100%, 75%) transparent;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hiddenMenu__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 40rem;
  height: 100%;
  transition: all 0.2s ease-out;
  transform: translateX(100%);
}
.hiddenMenu__container-header {
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: space-between;
  gap: 0rem;
  width: 100%;
  height: 6.6rem;
  padding: 2rem;
}
.hiddenMenu__container-inputs {
  width: 100%;
  height: calc(100% - 6.6rem);
  padding: 0 2rem;
}

.toggleHiddenMenu {
  transform: translateX(0);
}

/* $accent: #d7e636; */
/* $bg-second: #333333; */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
form .inputs__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0rem;
  width: 100%;
  padding: 2rem;
  border-radius: 4px;
}
form .inputs__container input,
form .inputs__container select {
  width: 100%;
  border-radius: 4px;
  padding: 0.8rem;
  font-size: 16px;
  letter-spacing: 0.1rem;
}
form .inputs__container input:focus,
form .inputs__container select:focus {
  outline: 1px solid hsl(340deg, 100%, 75%);
}
form .btn__container {
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: space-between;
  gap: 0rem;
  width: 100%;
  position: relative;
  height: 4rem;
}
form .btn__container .loader__container {
  position: absolute;
  top: 0;
  left: 34rem;
  z-index: 100;
}

.modal__component {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-out;
}

.toggleModal {
  z-index: 99;
  opacity: 1;
}

/* $accent: #d7e636; */
/* $bg-second: #333333; */
.singleItemOptions__container {
  min-width: 12rem;
  position: absolute;
  top: 2.5rem;
  right: 5rem;
  z-index: 0;
  border-radius: 4px;
  transition: all 0.1s ease-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}
.singleItemOptions__container-single {
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-out;
  border-radius: 4px;
}
.singleItemOptions__container-single:hover {
  background-color: hsl(340deg, 100%, 75%);
}
.singleItemOptions__container h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.singleItemOptionsToggle {
  opacity: 1;
  z-index: 10;
}

.filters__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-center;
  gap: 2rem;
}
.filters__container-header {
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: flex-center;
  gap: 1rem;
  width: 100%;
  padding-bottom: 1rem;
}
.filters__container-header h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.filters__container form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

/* $accent: #d7e636; */
/* $bg-second: #333333; */
.status__filter {
  width: 22rem;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.status__filter h2 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 1rem;
}
.status__filter .status-group {
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.status__filter .status-group label {
  margin-bottom: 0.4rem;
}
.status__filter .status-group input[type=radio] {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.6rem;
  height: 1.6rem;
  border: 0.15rem solid #636363;
  border-radius: 0.3em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.status__filter .status-group input[type=radio]::before {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  border: 0.15rem solid hsl(340deg, 100%, 75%);
  border-radius: 0.3em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgba(255, 102, 153, 0.25);
}
.status__filter .status-group input[type=radio]:checked::before {
  transform: scale(1);
}
.status__filter .status-group .radioNone input[type=radio]::before {
  width: 0rem;
  height: 0rem;
}/*# sourceMappingURL=main.css.map */