.box {
    width: 25rem;
    min-height: 15rem;
    border-radius: $radius;
    padding: 2.5rem 1rem;
    display: flex;
    transition: $transition-1;

    @include flex(raw, flex-start, space-around, 1rem);

    &-description{
      // width: 80%;
      height: 100%;
      
      @include flex(column, flex-start, flex-start, .5rem);

      & p{
        text-transform: uppercase;
        font-size: $fs-16;
        margin-bottom: .5rem;
      }
      & h2{
        font-family: $font-second;
        text-transform: lowercase;
      }
    }

    &-icons{
      height: 100% !important;
      @include flex(column, flex-start, space-between, 0);
    }
  }

  .box:hover{
    transform: translateY(-.2rem);
  }