.box {
    // Height and width are defined by Grid size in _pages.scss
    // width: 26rem;
    // min-height: 10rem;
    border-radius: $radius;
    padding: 2.5rem 1.5rem;
    display: flex;
    transition: $transition-1;
    position: relative;

    @include flex(raw, flex-start, space-around, 1rem);

    &-description{
      width: 100%;
      height: 100%;
      
      @include flex(column, flex-start, flex-start, .5rem);

      & p{
        text-transform: uppercase;
        font-size: $fs-16;
      }
      & h2{
        font-family: $font-second;
        text-transform: lowercase;
      }
    }

    &-icons{
      height: 100% !important;
      @include flex(column, center, space-between, 1rem);
      // background-color: aqua;
    }
  }

  .box:hover{
    transform: translateY(-.2rem);
  }