@use '../../sass/colors' as *;

.header__menu{
    min-width: 14rem;
    // min-height: 7rem;
    position: absolute;
    top: 6rem;
    z-index: 9;
    border-radius: $radius;
    transition: $transition-2;

    transform-origin: top;
    transform: rotateX(-100deg) translateY(-50%);
    opacity: 0;
    
    @include flex(column, flex-start, flex-start, 0 );
    
    &-single{
        @include flex(raw, center, flex-start, 1rem );
        cursor: pointer;
        width: 100%;
        padding: .5rem 1rem;
        transition: $transition-1;
        border-radius: $radius;
        // margin-top: .5rem ;
    }

    &-single:hover{
        // background-color: $accent;
        border: 1px solid $accent;
    }

    h3{
        font-size: 1.5rem;
        font-weight: 400;
      }
}

.right-1{
    right: 1rem;
}

.right-8{
    right: 8rem;
}

.toggleHeaderMenu{
    transform: rotateX(0deg) translateY(0);
    z-index: 11;
    opacity: 1;
}