@use '../sass/colors' as *;

.loginPage__component {
    background-image: url('../assets/bg/Bubble-10.5s-2436px\(1\).svg');
    position: center;
    width: 100%;
    height: 100vh;
    // padding: 0 20%;

    @include flex(raw, center, center, 0rem);

    img{
        height: 10rem;
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    .error-info{
        @include flex(column, center, center, 1rem);  

        a{
            color: $accent;
            text-decoration: underline;
        }
    }

    .comercial{
        position: absolute;
        bottom: 2rem;
        left: 2rem; 

        a{
            font-size: 1rem;
        }
    }
}