// .main{
    // background-color: aquamarine;
    // height: 100vh;
    // width: 50%;
    main{
        padding: 2rem;
        width: calc(100% - 25rem);
        height: calc(100% - 5rem - 7rem);
        position: absolute;
        bottom: 0rem;
        right: 0;
        z-index: 10;
        transition: $transition-2;
        overflow-y: scroll;
        
    
        .main__all-container{
    
            @include flex(raw, flex-start, flex-start, 2rem);
    
            &-content{
                width: 100%;
                @include flex(column, flex-start, flex-start, 2rem);
    
                .grid__container{
                    width: 100%;
                    display: grid;
                    gap: 1.5rem;
                    grid-template-columns: repeat(auto-fit, 26rem);
                    // min-height: 18rem;
                }
            }
        }
    }
// }


.toggleMainContent{
    width: calc(100% - 6rem);
}
