main{
    padding: 2rem;
    width: calc(100% - 25rem);
    height: calc(100% - 5rem - 7rem);
    position: absolute;
    bottom: 0rem;
    right: 0;
    z-index: 10;
    transition: $transition-2;
    overflow-y: scroll;
    
    .grid__container{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, 25rem);
        min-height: 15rem;
    }
}

.toggleMainContent{
    width: calc(100% - 6rem);
}
