header{
    background-color: plum;
    width: calc(100% - 25rem);
    position: fixed;
    top: 0;
    right: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    border-bottom: $border;
    padding: 0 1rem;
}

.toggleHeader{
    width: calc(100% - 6rem);
}
