nav{
    width: 25rem;
    height: 100vh;
    position: absolute;
    bottom: 0rem;
    left: 0;
    z-index: 5;
    transition: $transition-2;
    
    .nav__header{
        padding: 1.5rem;
        height: 5rem;
        width: 100%;

        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        // background-color: rgb(191, 204, 15);

        @include flex(raw, center, space-between, 0);

        img{
            height: 3rem;
        }
        
        &-user{

            @include flex(raw, center, flex-start, 1rem);

            img{
                border-radius: 1rem;
            }

            .user-data{
                h3{
                    font-size: 1.4rem;
                }
        
                p{
                    font-size: 1rem;
                    font-style: italic;
                }
            }
            
        }
    }


    .nav__middle{
        padding: 1.5rem 1.5rem 1.5rem 0;

        a{
            padding-left: 1.5rem;
            
        }
    }
}


.toggleSidebar{
    width: 6rem !important;

    .user-data{
        opacity: 0;
        transition: $transition-2;
        transition-delay: 250ms;
        display: none;
    }

    .company-logo{
        display: none;
    }
}



