@use '../../sass/colors' as *;

nav{
    width: 25rem;
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 5;
    transition: $transition-2;
    
    .nav__header{
        padding: 1.5rem;
        height: 5rem;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;

        @include flex(raw, center, space-between, 0);

        img{
            height: 3rem;
        }
        
        &-user{

            @include flex(raw, center, flex-start, 1rem);

            img{
                border-radius: 1rem;
            }

            .user-data{
                h3{
                    font-size: 1.4rem;
                }
        
                p{
                    font-size: 1rem;
                    font-style: italic;
                }
            }
        }
    }

    .board__header{
        @include flex(raw, center, center, 2rem);

        padding: 1.5rem;
        height: 7rem;
        width: 100%;

        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
    }


    .nav__middle{
        padding-top: 1rem;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;

        & ul{
            @include flex(column, flex-start, flex-start, .5rem);

            .nav__middle-category{
                @include flex(raw, center, flex-start, 0rem);
                // width: 100%;
                width: 90%;
                height: 3.5rem;
                border-radius: 0 $radius $radius 0;
                padding-left: 1.7rem;
                text-transform: capitalize;

                .category-links {

                    font-size: $fs-16;
                    width: 100%;
                    transition: $transition-1;
                    border-radius: 0 $radius $radius 0;
                    transform: translateX(1.5rem);
                }
            }

            .nav__middle-category:hover {
                background-color: $accent;
            }
        }
    }
}

.activeNavCategory{
    background-color: $accent;
    // border-top: 1px solid $accent;
    // border-right: 1px solid $accent;
    // border-bottom: 1px solid $accent;
}


.activeBoard{
    background-color: $accent;
}


.toggleSidebar{
    width: 6rem !important;

    .user-data{
        opacity: 0;
        transition: $transition-2;
        transition-delay: 250ms;
        display: none;
    }

    .company-logo{
        display: none;
    }

    .category-links{
        display: none;
    }

    .board__header{
        @include flex(column, center, center, 1.5rem);
        padding: 1rem;
        height: 13rem;
        // background-color: aqua;
    }
}



