@use '../../sass/colors' as *;

nav{
    width: 25rem;
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 5;
    transition: $transition-2;
    
    .nav__header{
        padding: 1.5rem;
        height: 5rem;
        width: 100%;

        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        // background-color: rgb(191, 204, 15);

        @include flex(raw, center, space-between, 0);

        img{
            height: 3rem;
        }
        
        &-user{

            @include flex(raw, center, flex-start, 1rem);

            img{
                border-radius: 1rem;
            }

            .user-data{
                h3{
                    font-size: 1.4rem;
                }
        
                p{
                    font-size: 1rem;
                    font-style: italic;
                }
            }
        }
    }


    .nav__middle{
        padding-top: 1rem;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;

        & ul{
            @include flex(column, flex-start, flex-start, .5rem);

            .nav__middle-category{
                @include flex(raw, center, flex-start, 0rem);
                width: 90%;
                height: 3.4rem;
                border-radius: 0 $radius $radius 0;
                padding-left: 1.7rem;

                .category-links {
                    font-size: $fs-16;
                    width: 100%;
                    transition: $transition-1;
                    border-radius: 0 $radius $radius 0;
                    transform: translateX(1.5rem);
                }
            }

            .nav__middle-category:hover {
                background-color: $accent;
            }
        }
    }
}

.activeNavCategory{
    background-color: $accent;
}


.toggleSidebar{
    width: 6rem !important;

    .user-data{
        opacity: 0;
        transition: $transition-2;
        transition-delay: 250ms;
        display: none;
    }

    .company-logo{
        display: none;
    }

    .category-links{
        display: none;
    }

    // .category-icon:hover{
    //     width: 5rem;
    //     height: 3rem;
    //     background-color: aqua;
    //     position: absolute;
    //     left: 3rem;
    //     z-index: 100;
    // }
}



