.filters__container {
    @include flex(column, flex-start, flex-center, 2rem);
    
    &-header{
        @include flex(raw, center, flex-start, 1rem);
        // width: 22rem;
        width: 100%;
        padding-bottom: 1rem;;

        h2{
            text-transform: uppercase;
            font-size: 1.4rem;
        }
    }

    .filters-form{
        // background-color: antiquewhite;
        height: 100%;
        opacity: 1;
        // display: none;

        form{
            @include flex(column, flex-start, flex-start, 1.5rem); 
            padding: 0;
        }
    }


}

.mobileFilterIcon{
    opacity: 0;
}