.filters__container {
    @include flex(column, flex-start, flex-center, 2rem);

    &-header{
        @include flex(raw, center, flex-center, 1rem);
        width: 100%;
        // margin-bottom: 1rem;

        h2{
            text-transform: uppercase;
            font-size: 1.4rem;
        }
    }

    form{
        height: 100%;
        @include flex(column, flex-start, flex-start, 1.5rem); 
    }
}