main{
    padding: 1rem;
    width: calc(100% - 25rem);
    height: calc(100% - 5rem);
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: 10;
    transition: $transition-2;
}

.toggleMainContent{
    width: calc(100% - 6rem);
}